<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <meta name="viewport" content="width=device-width initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>PhD Seminar {% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %} / DMATH / Université du
        Luxembourg</title>

    <meta name="description" content="{{ site.description }}">

    <link rel="stylesheet" type="text/css" media="screen" href="{{ '/css/main.css' | prepend: site.baseurl }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
</head>

<body>