<div class="wrapper">
    {% include header.html %}

    {% include navigation.html %}

    <div id="content">

        <h2>General Information</h2>

        <h3>Time and venue</h3>
        The sessions take place every <b>{{ page.day }} from {{ page.from }} to {{ page.to }}</b> in room
        <b>{{ page.location }}</b>.

        <h3>Aim</h3>
        Dedicated to PhD students, the PhD Seminar is an important part of the research training offered at the
        <a href="http://math.uni.lu" target="_blank">Department of Mathematics</a> of the
        <a href="http://www.uni.lu/" target="_blank">University of Luxembourg</a>. The PhD Seminar has a twofold
        objective:

        <ul class="aim">
            <li> To give PhD students the opportunity to present their fields of research
                and some topics and problems studied in those fields.
                The usual audience of the PhD Seminar is composed by PhD students and
                young researchers of the Department of Mathematics. The atmosphere is informal, so that all participants
                can ask the questions they want.
                Comments and suggestions on the presentations are also highly encouraged.</li>
            <li> To provide a good general mathematical background, in relation with the
                research interests of groups of PhD students
                and other participants of the PhD Seminar.
                In this perspective, the PhD Seminar proposes all over the academic year
                series of introductory minicourses, held by
                the young researchers of the Department of Mathematics.</li>
        </ul>

        <h3>Who can be a speaker?</h3>
        All contributions for talks or minicourses are welcome, including from people external to Luxembourg's
        Department of Mathematics!
        If you want to make a presentation, please provide the organizers with a title and an abstract of your talk.
        Lecture notes in any form are welcome as well.

        <h2>Organisers</h2>
        <ul class="organiser">
            {% for organiser in page.organiser %}
            <li><a href="{{ organiser.url }}" target="_blank">{{ organiser.name }}</a></li>
            {% endfor %}
        </ul>

        <hr class="hor-bar" />

        <h2 id="summer">Summer semester: Talks</h2>

        <ul class="talks">
            <li>
                <b>{{ page.organisationalMeeting | date: "%d %B %Y" }}</b>
                <i>Organisational meeting</i>
            </li>

            {% capture yr %}{{ page.semesterYear | date: '%Y' }}{% endcapture %}

            {% for item in site.talks %}
            {% capture date %}{{ item.date | date: '%Y' }}{% endcapture %}
            {% if date == yr %}
            <li>
                <div>
                    <span class="date"><b>{{ item.date | date: "%d %B %Y" }}</b></span>
                    <b><a href="{{ item.url | prepend: site.baseurl }}">{{ item.speaker }}</a></b>,
                    <i>{{ item.title }}</i>
                </div>
                <div class="abstract">
                    <span class="abstract-span"><b>Abstract</b></span> {{ item.content }}
                </div>
            </li>
            {% endif %}
            {% endfor %}
        </ul>
    </div>

    <hr class="hor-bar" />

    {% for item in site.away_days %}
    {% capture date %}{{ item.semesterYear | date: '%Y' }}{% endcapture %}
    {% if date == yr %}

    {% assign awayDays = item %}
    {% include away_days.html %}

    {% break %}
    {% endif %}
    {% endfor %}
</div>